<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803858023512-11c7sff96u052mtnousgi04bd15jskth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803858023512-11c7sff96u052mtnousgi04bd15jskth</string>
	<key>API_KEY</key>
	<string>AIzaSyCA6iDvrEzT7hB7R1Nwyhy0QghGaP5gRgo</string>
	<key>GCM_SENDER_ID</key>
	<string>803858023512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.senseicoder.uberOwn</string>
	<key>PROJECT_ID</key>
	<string>uber-own</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-own.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803858023512:ios:bea6813bbcfcefccbd362d</string>
</dict>
</plist>